
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(26, 96, 96);
    color: white;

}
.container{
    /* border: 2px solid white; */
    margin: 100px;
    padding: 50px;
    width:90%;
    /* height: 200px; */
    max-width: 700px;
    /* font-size: 20px; */
    

}
.display{
    /* border: 2px solid white; */
    width:90%;
    margin-top:30px;
    margin-bottom: 30px;
    background: white;
    color:#333;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
    
}
.container h1{
    font-weight: 500;

}
.container h1 span{
    color: black;
    border-bottom:4px solid rgb(6, 21, 5);
    padding-bottom: 5px;
}
.display img{
    width:30px;
    cursor:pointer;

}
.display input{
    border:0;
    outline:0;
    font-size: 25px;
}
.container button{
    width:100;
    background: black;
    color:white;
    font-size: 22px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 2px;
    margin-top: 2px;
    cursor: pointer;
    
}
// @import 'ngx-toastr/toastr'; make it uncomment if we use